
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

html {
	font-size: 10px;
}

html, body {
	height: 100%;
	margin: 0;
	background-color: white;
}

a {
  text-decoration: none;
  display: block;
}

ul {
 list-style-type: none;
}


				/*navigation bar*/
.nav-container {
	z-index: 150;	
	width: 100%;
	height: 15vh;
	position: fixed;
	top: 0;	
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: rgba(255,255,255,1);/*rgba(24,52,64,1);*/
	-webkit-transition: all 3s;
	-moz-transition: all 3s;
	-ms-transition: all 3s;
	-o-transition: all 3s;
	transition: all 300ms;
}

.navbar {
	list-style-type: none;
	display: flex;
	float: right;
	justify-content: space-around;	
	margin-right: 4vw;
}


.navbar li {
	display: inline-block;
	width: auto;
	text-align: center;
}

.navbar li a {
	font-size: 1.4rem;
	font-family: 'Poppins', sans-serif;
	font-weight: 100;
	color: #de383c;
	-webkit-transition: all 600ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	-moz-transition: all 600ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	-ms-transition: all 600ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	-o-transition: all 600ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	transition: all 600ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	padding: 0 1.1vw 0 1.1vw;
}

.navbar li a:hover {
	color: rgba(255, 255, 255, 0.9);
	box-shadow: #d0282c 0 80px 0px 2px inset;
}

.logo {
	display: inline-block;
	float: left;
	margin-left: 2vw;
}	

.logo img {
	width: 80%;
	height: auto;
}

.nav-dropdown {	
	z-index: 150;	
	display: none;
	flex-direction: column;
	justify-content: center;
	width: 100vw;
	margin: 0;
	position: absolute;
	left: 0;	
	background-color: rgba(254,254,254,0.9);
	padding: 0;
}


.nav-dropdown li {
	display: block;
	height: auto;	
	text-align: center;
	height: 8vh;
}

.nav-dropdown li a {
	height: 100%;
	line-height: 8vh;
	font-size: 1.7rem;
}


				/*menu icon*/
.show-menu {
	float: right;	
	display: none;
	height: auto;
	position: relative;
	right: 5vw;
}

.show-menu div {
	height: 0.6vh;
	width: 30px;
	margin-bottom: 0.6vh;
	background-color: #de383c;
	border-width: 0px;
	border-radius: 3px;
}


				/*sections*/
.section {
	margin: 0;
	width: 100%;
	background-color: white;
}


.section-name{
	color: #4a4a4a;
	font-size: 2.1rem;
	font-family: 'Varela Round';
	font-weight: 200;
	margin: 5.5rem 0 0.5rem 0;
}

.section-line{
	background-color: black;
	height: 1px;
	width: 10vw;
	margin-bottom: 3rem;
}


				/*FIRST SECTION*/

#first-section{
	display: flex;
	flex-direction: column;
	left: 0;
}	

.white-space {
	height: 15vh;
}
				/*highlights slideshow*/
.highlights {
	width: 100%;
	height: 65.7vh;
	margin-bottom: 3.3vh;
	position: relative;
}	

.highlights .slideshow {
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

.highlights .slideshow li {
	width: 100%;
	height: 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	display: none;
}

.highlight-text {
	position: absolute;
	bottom: 8%;	
	width: 100%;
	min-height: 18%;
	display: flex;
	align-items: center;
	background-color: rgba(255,255,255,0.7);	
}

.highlight-text a {
	font-size: 1.7rem;
	font-family: 'Poppins', sans-serif;
	font-family: 900;
	color: black;
	text-align: center;
	width: 100%;
	padding: 1%;
}


.slideshow-buttons {
	position: absolute;
	bottom: 10px;
	width: 100%;
	display: flex;
	justify-content: center;
	z-index: 50;
}

.slideshow-buttons button {
	width: 18px;
	height: 18px;
	margin: 0 0.5% 0 0.5%;
	color: rgba(0,0,0,0.5);
	background-color: rgba(255,255,255,0.8);	
	border: none;
	border: solid 1px;
	border-radius: 6px;
	font-size: 0.7rem;
	font-weight: 900;
	padding: 1px;

}

.slideshow-buttons button:focus {
	outline: 0;
}


				/*DONATE*/
.donate {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Poppins', sans-serif;
	background-color: rgba(248,248,248,1);
	min-height: 16vh;
	margin-bottom: 2vh;
}

.donate .us-text {
	font-size: 1.4rem;
	font-weight: 550;
	color: black;	
	text-align: left;
	max-width: 60%;
	padding: 1rem;
	margin-right: 2vw;
}

.donate .donate-button {
	margin-left: 2vw;
	height: auto;
	width: auto;
}

.donate .donate-button a {
	border: solid 1px;
	border-radius: 5px;
	border-color: white;
	background-color: #d0282c;
	color: white;
	width: 6rem;
	height: auto;
	line-height: auto;
	text-align: center;
	font-size: 1.4rem;
	font-weight: 600;
	letter-spacing: 2px;
	padding: 1.5rem 2rem 1.5rem 2rem;
}

.donate .donate-button a:hover {
	background-color: rgba(240,40,44,1);
}

				/*WHO WE ARE*/

.we-wrapper {
	background-color: rgba(248,248,248,1);
	display: flex;
	justify-content: center;
	align-items: center;
}

.we {
	width: 77vw;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	height: auto;
	padding: 0 0 8vh 0;
}

#mission{
	position: relative;
	width: 100%;
	color: #4a4a4a;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.we .we-each {
	width: 35vw;
	height: 15vh;
	margin-top: 10vh;
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	position: relative;	
}

.we .we-each:nth-child(0), .we .we-each:nth-child(1) {
	margin-top: 0;
}

.we .we-each img {
	width: 5vw;
	height: auto;
	max-height: 100%;
	float: left;
}

.we .we-each p {
	margin: 0 0 0 5%;
	width: 30vw;
	float: right;
	text-align: center;
	font-weight: 400;
    font-size: 1.7rem;
    font-family: 'Varela Round';
    color: #4a4a4a;
}

.we-each p span {
	color: rgba(208,72,29,1);
}

				/*WHAT WE DO*/

.do-wrap {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	color: white;
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
	font-size: 1.6rem;
}


.do-headline { 
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}


.do {
	margin-top: 4vh;
	height: auto;
	width: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center bottom;
	background-image: url("images/what-we-do/tools.jpg");
	background-attachment: fixed;
}
/*
.do-whole-image{
	position: absolute;
	top: 14vh;
	left: calc((100vw - 180vh)/2);
	width: 183vh;
	height: 65vh;
	font-size: 2em;
	z-index: 800;
	background-repeat: no-repeat;
	background-size: cover;
}
*/
/*.do-box .over {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: transparent;
	z-index: 150;
}
*/

.do-box{
	height: 30vw;
	width: calc((100vw - 0.3px * 4)/4);
	padding: 0;
	margin: 0;
	background-color: none;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	position: relative;
	border-right: solid 0.3px;
}

.do-box .headline {
	height: 100%;
	width: 100%;
	margin: 0;
	text-align: center;
	background-color: rgba(0,0,0,0.2);
	display: flex;
	justify-content: center;
}

.do-box .headline p {
	padding: 35% 2% 2% 2%;
}

 .do-box .headline ul {
 	padding: 35% 0 0 0;
 	width: 85%;
 }

.do-box .headline ul li {
	width: 100%;	
	margin: 1vh 0 1vh 0;
	font-size: 1.3rem;
	text-align: left;
	color: white;
	border-style: solid;
	border-width: 0 0 1px 1px;
	/*border-radius: 10px;*/
	z-index: 110;
	padding: 2% 2% 2% 2%;
}

.do-box .headline ul li:hover{
	background-color: rgba(255,255,255,0.2);
}

.do-box .headline ul li a {
	color: inherit;
	width: 100%;
	height: 100%;
}
			
				/*Partners*/

#partners-wrap {
	background-color: #fbf9f3;
	padding: 0 0 4vh 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	height: auto;
	font-weight: 600;
}

#partners {
	margin: 0;
	width: 80%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

#partners img{
	width: 150px;
	height: auto;
	margin: 20px 30px 20px 30px;
}
	
				/*Contact*/
#contact {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	background-color: #3f3f3f;
	font-family: 'Poppins', sans-serif;
	width: auto;
	height: auto;
}

#contact .do-headline .section-name  {
	color: #cdcdcd;
}

#contact .do-headline .section-line  {
	background-color: #cdcdcd;
}


#contact-items {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	height: auto;
	width: 100vw;
}

.contact-item {
	height: auto;
	width: auto;
	margin: 0 1vw 3vh 1vw;
	margin-bottom: 3vh;
}

.contact-triple {
	width: auto;
	height: auto;
	margin-bottom: 3%;
}

.contact-triple > * {
	display: inline-block;
}

.contact-triple div {
	width: 9.9rem;
}

.contact-triple p {
	margin: 0 0 0 1vw;
	color: #cdcdcd;
	font-size: 1.3rem;
	white-space: nowrap;
}

.contact-triple p a {
	color: #ff4500;
}
.contact-triple p a:hover {
	color:  #e27953;
}

.contact-triple div p{
	float: right;
	margin: 0;
	color: #ff4500;
}


.contact-triple div > * {
	display: inline-block;
}

.contact-triple img {
	height: 15px;
	width: auto;
	margin-right: 30px
}

#contact-form form {
	display: flex;
	flex-direction: column;
}

#contact-form div {
	margin-bottom: 2rem;
}

#contact-form div > * {
	color: #cdcdcd;
}

#contact-form label {
	color: #ff4500;
	font-size: 1.3rem;
	height: 1.3rem;
	margin: 0;
}

#contact-form input {
	height: 1.3rem;
}

#contact-form input, #contact-form textarea {
	height: auto;	
	float: right;
	font-size: 1.2rem;
	font-family: 'Poppins', sans-serif;
	border: solid 1px;
	background: rgba(255,255,255,0.1);	
}

#contact-form input:focus, #contact-form textarea:focus, #contact-form input:hover, #contact-form textarea:hover {
	outline: none !important;
	border-color:  #ff4500;
}

#contact-form input[type=text], #contact-form textarea {
	width: 30rem;
	margin-left: 2rem;
	padding: 0.5rem 0 0.5rem 0.4rem;
	resize: none;
}

#contact-form input[type=submit]{
	width: auto;
	padding: 0.5rem 3rem 0.5rem 3rem;
}

#share {
	display: flex;
	justify-content: center;	
	width: 100vw;
}

		/*MEDIA QUERIES*/
				/*NAV BAR*/

@media screen and (max-width: 680px), (max-height: 420px) {
	.navbar {
		display: none;
	}

	.nav-dropdown {		
		display: flex;
	}

	.show-menu {
		display: block;
	}

}

@media screen and (max-height: 430px) {
	.nav-container {
		padding-bottom: 1%;
	}

	.logo img {
		width: 70%;
		height: auto;
	}


	.nav-dropdown li a {
		font-size: 1.5rem;
	}
}

@media screen and (max-height: 300px) {
	.logo img {
		width: 60%;
		height: auto;
	}
}


				/*HIGHLIGHTS*/
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px){ 
  	.highlight-text{
  		min-height: 13%;
  	}
}

@media only screen and (max-height: 788px) { 
  	.highlight-text {
  		min-height: 13%;
  		bottom: 10%;
  	}
}
		

@media only screen and (max-height: 540px) { 
  	.highlight-text { 
  		bottom: 16%;
  	}
}

/*				/*DONATE*/



@media screen and (max-width: 680px), (max-height: 600px) {

	.donate {
		flex-direction: column;
		justify-content: space-around;
	}


	.donate .us-text {
		text-align: center;
		font-size: 1.3rem;
		max-width: 80%;
		margin: 0;
	}

	.donate .donate-button {
		height: auto;
		margin-bottom: 2%;
		margin-right: 0;
	}

	.donate .donate-button a {
		text-align: center;
		font-size: 1.3rem;
	}
}
/*
@media screen and (max-width: 680px)  and (min-height: 840px) {

}
*/
@media screen and (max-width: 400px), (max-height: 400px) {


	.donate .us-text {
		font-size: 1rem;
	}

	.donate .donate-button {
		height: auto;
	}

	.donate .donate-button a {
		font-size: 1rem;
	}
}

@media screen and (max-width: 320px) {

	.donate .donate-button a {
		font-size: 1.2rem;
	}
}


			/*WHO WE ARE*/

@media screen and (max-width: 1200px){

	.we div:nth-child(2), .we div:nth-child(3){
		margin-top: 1vh;
	}
}


@media screen and (orientation:portrait){

	.we .we-each {
		margin-top: 5vh;
	}

	.we div:nth-child(2), .we div:nth-child(3){
		margin-top: 1vh;
	}
}


@media screen and (max-width: 650px){

	.we div:nth-child(2), .we div:nth-child(3){
		margin-top: 3vh;
	}

	.we .we-each {
		width: inherit;
		height: auto;
		margin-top: 6vh;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
		position: relative;	
	}

	.we .we-each img {
		margin-bottom: 1vh;
		width: auto;
		height: 10vw;
		max-height: 100%;
		float: none;
	}

	.we .we-each p {
		margin: 0;
		width: 100%;
		float: none;
		align-self: flex-start;
		text-align: center;
	}

}


				/*WHAT WE DO MEDIA*/

@media screen and (orientation: portrait),
(max-height: 700px) and (max-width: 800px ){
	.do {
		flex-direction: column;
	}

	.do-box{
		height: calc(85vh/4);
		width: 100vw;
		background-color: none;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
		position: relative;
		border-style: solid;
		border-width: 0 0 1vh 0;
	}

	.do-box .headline p {
		padding: 0;
		line-height: calc(70vh/4);
	}
	
	.do-box .headline ul {
	 	width: 60%;
	 	align-self: center;
	 	display: flex;
 		flex-direction: column;
 		align-items: center;
 		padding: 0;
	 }

	.do-box .headline ul li {
		width: 100%;	
		margin: 0.2rem 0 0.2rem 0;
		font-size: 0.9rem;
		text-align: center;
		color: white;
		border-style: solid;
		border-width: 0 0 1px 0;
		/*border-radius: 10px;*/
		z-index: 110;
		padding: 0.5% 2% 0.1% 2%;
	}

}


			/*Partners*/

@media screen and (orientation: portrait) {

	#partners-wrap {
		background-color: #fbf9f3;
		margin-top: 10vh;
		padding: 5vh 0 5vh 0;
	}

	#partners img{
		margin: 8%;
		height: 5vh;
		width: auto;
	}


}

			/*Contact*/

@media screen and (orientation: portrait) and (max-width: 675px) {

	#contact-info {
		justify-content: center;
	}
	.contact-triple{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
		margin-bottom: 3vh;
	}

	.contact-triple div {
		width: 3rem;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.contact-triple p {
		font-size: 1.2rem;
	}

	.contact-triple div p{
		font-size: 1.2rem;
	}


	.contact-triple div > * {
		display: block;
	}

	.contact-triple img {
		margin-right: 0;
	}

	#contact-form label {
		font-size: 1.1rem;
		height: 1.1rem;
		margin: 0;
	}

	#contact-form input {
		height: 1.1rem;
	}

	#contact-form input, #contact-form textarea {
		height: auto;	
		float: right;
		font-size: 1rem;
		font-family: 'Poppins', sans-serif;
		border: solid 1px;
		background: rgba(255,255,255,0.1);	
	}

	#contact-form input[type=text], #contact-form textarea {
		width: 25rem;
		margin-left: 2rem;
		padding: 0.5rem 0 0.5rem 0.4rem;
	}

	#contact-form input[type=submit] {
		width: auto;
		padding: 0.5rem 3rem 0.5rem 3rem;
	}

	#share {
		display: flex;
		justify-content: center;	
		width: 100vw;
	}

}


@media screen and (max-width: 320px) {
	#contact-form input[type=text], #contact-form textarea {
		width: 20rem;
		margin-left: 2rem;
		padding: 0.5rem 0 0.5rem 0.4rem;
	}
}